{% extends "base.html" %}

{% block content %}

<!-- main content  -->
{% with errors = get_flashed_messages(category_filter=['register']) %}
{% if errors %}
<div class="alert alert-danger">
    <h5> Oops! Looks like you made a mistake: </h5>
    <ul>
        {% for error_message in errors %}
        <li>{{ error_message }} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content {
        margin: auto;
        padding: 15px;
        max-width: 800px;
        text-align: center;

    }


    .dpx {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    label {
        display: block;
        line-height: 40px;
    }

    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 13.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 40px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #95a4ff;
    }

    .option-input:checked::before {
        width: 40px;
        height: 40px;
        display: flex;
        content: '\f00c';
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-family: 'Font Awesome 5 Free';
    }

    .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #95a4ff;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }

    .option-input.radio {
        border-radius: 50%;
    }

    .option-input.radio::after {
        border-radius: 50%;
    }

    @keyframes click-wave {
        0% {
            height: 40px;
            width: 40px;
            opacity: 0.35;
            position: relative;
        }

        100% {
            height: 200px;
            width: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0;
        }
    }

    .px button {
        display: block;
        margin: 0 auto;
        line-height: 28pt;
        padding: 0 20px;
        background: #ffffff;
        letter-spacing: 2px;
        transition: 0.2s all ease-in-out;
        outline: none;
        border: 1px solid black;
        box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
    }

    px .button :hover {
        background: black;
        color: white;
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="container">
        <div class="selections pt-4">
            <h4> Everything changes, especially your skin!</h4>
            <hr>
            <h5> Let's change your skin profile. You previously selected <em><u> {{selected.type}}</u>. </em> <br> 
                Select your new skin type (1 selection): </h5>
            <div class='px'>
                <form action="/update/{{selected.id}}" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <label>
                        <input type="checkbox" name="type" value="Combination" class="option-input checkbox" />
                        Combination
                    </label>
                    <label>
                        <input type="checkbox" name="type" value="Dry" class="option-input checkbox" />
                        Dry
                    </label>
                    <label>
                        <input type="checkbox" name="type" value="Normal" class="option-input checkbox" />
                        Normal
                    </label>
                    <label>
                        <input type="checkbox" name="type" value="Oily" class="option-input checkbox" />
                        Oily
                    </label>
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

    {% endblock %}